# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
build/
dist/

# Entornos virtuales
.venv/
venv/
env/

# ROMs (no versionar imágenes de juego)
*.sfc
*.smc

# macOS
.DS_Store

# Editores
.idea/
*.swp
